<template>
  <div class="page">
    <counter></counter>
    <input-textbox></input-textbox>
  </div>
</template>

<script>
import InputTextbox from "components/InputTextbox";
import Counter from "components/Counter";

export default {
  components: {
    Counter,
    InputTextbox
  }
};
</script>
