<template>
  <div class="slideout">
    <div id="counter">
        <p>{{count}}</p;>
    </div>
    <div class="tab"></div>
  </div>
</template>

<script>
export default {
  computed: {
    count () {
      return this.$store.getters.count;
    }
  }
};
</script>

<style>
.slideout {
  left: 0;
  top: 2em;
  width: 2em;
  height: 3em;
  background: rgba(93, 93, 93, 0.79);
  position: fixed;
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-bottom-right-radius: 100% 80%;
  border-top-right-radius: 100% 80%;
}

.slideout:hover {
  left: 4em;
}
.slideout:hover #counter {
  left: 0;
}

#counter {
  position: fixed;
  text-align: center;
  color: rgb(235, 235, 235);
  top: 2em;
  left: -4em;
  width: 4em;
  height: 3em;
  background: rgba(93, 93, 93, 0.79);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
</style>
