<template>
  <div>
    <div  id="editor"
          contenteditable="true"
          placeholder="Type or paste here..."></div>
  </div>
</template>

<script>
import Countable from "countable";

export default {
  mounted () {
    const textArea = document.getElementById("editor");
    Countable.live(textArea, (counter) => {
      this.$store.commit("COUNT", counter.words);
    });
  }
};
</script>

<style>
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: rgba(79, 79, 79, 0.57);
}

body::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: rgba(#C3C3C3, 0.47);
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C1C1C1;
}

#editor {
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(79, 79, 79);
  width: 100%;
  min-height: 100vh;
  background: #F2F2F2;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#editor:focus {
  border: none;
}
</style>
